configuration {
	kb-cancel: "Escape,super+r";
	display-drun: "Apps";
	drun-display-format: "{icon} {name}";
	font: "JetBrainsMono Nerd Font 12";
	show-icons: true;
	icon-theme: "ePapirus-Dark";
	modi: "drun";
}

@theme "theme.rasi"
