configuration {
	kb-cancel: "Escape,super+d";
	display-drun: "(Ctrl+Tab To Cycle Modi) Applications";
	display-calc: "(Ctrl+Tab To Cycle Modi) Calculator";
	display-emoji: "(Ctrl+Tab To Cycle Modi) Emoji";
	display-window: "Windows:";
	drun-display-format: "{icon} {name}";
	font: "Hack NF Regular 12";
	show-icons: true;
	icon-theme: "Papirus-Dark";
	modi: "drun,calc,emoji";
}

@theme "theme.rasi"
