window {
    font-family: JetBrainsMono Nerd Font Regular;
    font-size: 14pt;
    background-color: rgba(16, 16, 16, 0.5);
}

button {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #767676
}

button:hover {
    background-color: rgba(38, 38, 38, 0.1);
}

button:focus {
    background-color: #969696;
    color: #ffffff;
}

#lock {
    background-image: image(url("./lock.png"));
}
#lock:focus {
    background-image: image(url("./lock-hover.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}
#logout:focus {
    background-image: image(url("./logout-hover.png"));
}

#suspend {
    background-image: image(url("./suspend.png"));
}
#suspend:focus {
    background-image: image(url("./suspend-hover.png"));
}

#shutdown {
    background-image: image(url("./shutdown.png"));
}
#shutdown:focus {
    background-image: image(url("./shutdown-hover.png"));
}

#reboot {
    background-image: image(url("./reboot.png"));
}
#reboot:focus {
    background-image: image(url("./reboot-hover.png"));
}
