@import 'colors.css';

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMonoMedium Nerd Font;
    font-weight: bold;
    font-size: 13px;
    min-height: 20px;
}

window#waybar {
    background: @dark;
    color: @white;
}

tooltip {
    background: @grey0;
    border-style: solid;
    border-color: @dark;
}

#workspaces button {
    color: @light;
}

#workspaces button.active {
    color: @light;
}

#workspaces button.focused {
    color: @light;
    background: @dark;
}

#workspaces button.urgent {
    color: @red;
    background: @dark;
}

#workspaces button:hover {
    background: @dark;
    color: @light;
}

#cpu,
#memory,
#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,

#cpu {
    background: @grey0;
    padding: 0px 10px;
    border-radius: 10px;
    border-radius: 10px 0px 0px 10px;
    margin: 3px 0px
}

#memory {
    background: @grey0;
    padding: 0px 10px;
    border-radius: 0px 10px 10px 0px;
    margin: 3px 0px
}

#tray {
    background: @grey0;
    border-radius: 10px 0px 0px 10px;
    margin: 3px 0px
}

#workspaces {
    background: @grey0;
    border-radius: 10px 0px 0px 10px;
    margin: 3px 0px 3px 12px;
    padding: 0px 0px 0px 18px;
}

#window {
    background: @grey0;
    border-radius: 0px 10px 10px 0px;
    margin: 3px 6px 3px 0px;
}

#clock {
    background: @grey0;
    color: @white;
    border-radius: 10px;
    margin: 3px 12px 3px 6px;
}

#pulseaudio {
    color: @white;
    background: @grey0;
    border-radius: 0px 10px 10px 0px;
    margin: 3px 6px 3px 0px;
}

#pulseaudio.microphone {
    color: @white;
}

#custom-noti {
    background: @grey0;
    border-radius: 0px;
    margin: 3px 0px;
}
